* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: var(--cfondo);
    font-family: Comic Sans ms;
  }
  
  .container {
    
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  
  :root {
    --cfondo: #808080 ;
    --cfondoForm1: rgba(1, 80, 88, 0.39);
    --cfondoForm2: #B0E0E6;
    --cnegro: rgb(243, 232, 232);
    --ctexto: rgb(14, 81, 88);
    --ctextoDark: rgb(39, 1, 31);
    --cblanco: #FFFFFF;
    --error: #000000;
  }
  
  [type="checkbox"] {
    display: none;
  }
  
  [type="checkbox"]:checked + label::before {
    background: var(--cnegro);
    transition: 0.5s;
    transform: rotate(180deg);
  }
  
  [type="checkbox"]:checked + label {
    color: var(--cnegro);
  }
  
  
  
  .form {
    
    border-top: 2px solid var(--cnegro);
    border-radius: 10px;
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(
      0deg,
      var(--cfondoForm1) 0%,
      var(--cfondoForm2) 50%
    );
  }
  
  .Logo{
    margin-top: auto;
    margin-left: 100px;
    border-radius: 100px; 
    box-shadow: 0 8px 8px 0 rgb(34, 32, 32, 34);
  }
  
  .form-titulo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
    color:#000000;
  }
  
  .form-input {
    margin-bottom: 34px;
    margin-top: 30px;
  }
  
  .form-input label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: var(--ctexto);
  }
  
  .form-input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid var(--ctexto);
  }
  
  .form-input input:focus + label {
    font-weight: bold;
    color: var(--cnegro);
  }
  
  .form-terminos {
    margin-left: 15px;
    position: relative;
    color: azure;
    font-size: 13px;
  }
  
  .form-terminos label::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid var(--cnegro);
    position: absolute;
    left: -14px;
  }
  
  .form-boton input {
    background: #0000CD ;
    color: var(--cblanco);
    padding: 10px 50px;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    font-family: Comic Sans ms;
  }
  
  .form-boton input:hover {
    background: var(--ctextoDark);
    transition: 0.5s;
  }
  
  .mensajeError {
    color: var(--error);
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .mensajeCorrecto {
    text-align: center;
    font-weight: bold;
  }
  .Aviso{
    font-size: 15px;
  }
  .Aviso b{
    font-size: 25px;
    color:var(--error);
  }
  
  .pies{
    text-align: center;
    color: aliceblue;
  }